.title {
  text-align: center;
  font-size: 5rem;
  font-family: 'Permanent Marker', cursive;
}

.container {
  display: flex;
  justify-content: center;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: 0;
}

.button {
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
  height: 2.95rem;
}

.button2 {
  background-color: #228b22;
}

.input-class {
  height: 2.5rem;
  width: 30rem;
  font-size: 2rem;
}

body {
  background: url(./map.png) no-repeat center center;
  background-size: 150%;
  width: 95%;
  margin-top: 15%;
}
