body {
  background: url(./map.png) no-repeat center center;
  /* background-size: 150%; */
  width: 100%;
  /* margin-top: 15%; */
}

.title {
  text-align: center;
  font-size: 5rem;
  font-family: 'Permanent Marker', cursive;
  margin-bottom: 0;
}

.container {
  display: flex;
  justify-content: center;
  margin-left: 10%;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: 0;
}

.button {
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
  height: 2.95rem;
}

.button2 {
  background-color: #228b22;
}

.input-class {
  height: 2.5rem;
  width: 45%;
  font-size: 1.5rem;
}

.search-icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -15px;
  right: 180px;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

#data-display {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
